<div style="width: 60%; height: 600px;margin-left: 20%;margin-top: 2%; background-color: #EBEBEB;" id="fieldDialog">
  <div class="d-flex justify-content-center" style="margin-top: 5%;">
    <div class="page-title">
      Update Profile
    </div>
  </div>
  <p>&nbsp;</p>

  <div class="d-flex justify-content-left" style="margin-top: 5%; height: 40px;">
    <label class="col-md-2"></label>
    <label class="col-md-3">User Name:</label>
    <input id="userTxt" type="text" class="col-md-4" [(ngModel)]="username" disabled="true" style="background-color: #A9A9A9;"/>
  </div>
  <div class="d-flex justify-content-left" style="margin-top: 2%; height: 40px;">
    <label class="col-md-2"></label>
    <label class="col-md-3">Email:</label>
    <input id="emailTxt" type="text" class="col-md-4" [(ngModel)]="email" disabled="true" style="background-color: #A9A9A9;"/>
  </div>

  <div class="d-flex justify-content-left" style="margin-top: 2%; height: 40px;">
    <label class="col-md-2"></label>
    <label class="col-md-3">Password:</label>
    <input id="passwordPwd" type="password" class="col-md-4" [(ngModel)]="password" />
  </div>

  <div class="d-flex justify-content-left" style="margin-top: 2%; height: 40px;">
    <label class="col-md-2"></label>
    <label class="col-md-3">Confirm Password:</label>
    <input id="confirmpasswordPwd" type="password" class="col-md-4" [(ngModel)]="confirmpassword" />
  </div>

  <div class="d-flex justify-content-left" style="margin-top: 2%; height: 40px;">
    <label class="col-md-2"></label>
    <label class="col-md-3">Mobile Number:</label>
    <input id="mobileTxt" type="text" class="col-md-4" [(ngModel)]="mobile" />
  </div>
  <div id="errorMessage" class="d-flex justify-content-center text-danger">
    {{errorMessage}}
  </div>
  <p>&nbsp;</p>
  <div class="d-flex justify-content-center" [ngClass]="{'mt-3': errorMessage === ''}" style="margin: 5%; ">
    <div id="saveFieldBut" class="popup-btn d-flex justify-content-center cursor-pointer" (click)="save()">
      <div class="d-flex align-items-center">
        <div class="ml-2 popup-btn-label">
          Save
        </div>
      </div>
    </div>
  </div>
</div>
