@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/style/material-icon.woff2) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.failed-bar .mat-progress-bar-fill::after {
    background-color: red!important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgb(18,82,159)!important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(18,82,159)!important;
}

