<div style="width: 60%; height: 600px;margin-left: 20%;margin-top: 2%; background-color: #EBEBEB;" id="fieldDialog">
  <div class="d-flex justify-content-center" style="margin-top: 5%;">
    <div class="page-title">
      Import Excel
    </div>
  </div>
  <p>&nbsp;</p>


  <div class="d-flex justify-content-center " style="margin-top: 5%; height: 40px">
    <div>Select Excel file to be uploaded:</div>
    <input style = "margin-left:10px;" type="file" id="fileUpload" [(ngModel)]="importfile" accept=".xls,.xlsx,.csv" />
  </div>

  <div class="d-flex justify-content-center" style="margin: 5%; height: 40px">
    <a href="#">Click here to download sample Excel file</a>
  </div>
  <div id="errorMessage" class="d-flex justify-content-center text-danger">
    {{errorMessage}}
  </div>
  <div class="d-flex justify-content-center" [ngClass]="{'mt-3': errorMessage === ''}" style="margin: 5%; ">
    <div id="saveFileBut" class="popup-btn d-flex justify-content-center cursor-pointer" (click)="uploadFile()">
      <div class="d-flex align-items-center">
        <img style="width: 16px; height: 16px;" src="assets/image/icon/save.png" routerLink='/importresult'/>
        <div class="ml-2 popup-btn-label">
          Upload
        </div>
      </div>
    </div>
  </div>
</div>
